---
layout: page
---

<div class="post pl-1 pr-1 pl-md-2 pr-md-2">
  <h1 class="dynamic-title">About</h1>
  <div class="post-content">
    <h1>Center for Astrophysical Machine Learning</h1>
    <p>
      We are a diverse group of scientists doing machine learning research for Astrophysics.
      Our goal is to provide the community with resources readily available for interdisciplinary projects,
      and for building the right team of experts in all disciplines relevant to each research project.
      We work with the community to assess the needs and potential of using machine learning and artificial intelligence resources,
      and respond by developing and adapting methodologies that apply to astrophysical problems across astrophysics research areas.
      We achieve this by building strong interdisciplinary collaborations with,
      and drawing resources and expertise from the rich Boston area computer science community.
    </p>
    <h2>People</h2>
    <p>
      Cecilia Garraffo;
      J. Rafael Martinez Galarza;
      Phillip Cargile;
      Joshua Wing;
      James F. Steiner;
      Vinay Kashyap;
      Aneta Siemiginowska;
      Lindy Blackburn;
      Peter K. G. Williams;
      Douglas Finkbeiner;
      Rosane Di Stefano;
      Adam Foster;
      Avi Loeb;
      Morgan MacLeod;
      Ethan Tregidga;
      V. Samuel Perez Diaz;
      Floor Broekgaarden
    </p>
  </div>
</div>
